@charset "utf-8";

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@200;400;600;900&display=swap');


// Set your brand
$primary: hsl(340, 70%, 44%);
$secondary: hsl(243, 91%, 30%);
$primary-light: hsl(340, 30%, 66%);
$secondary-light: hsl(243, 33%, 86%);

$title: hsl(243, 66%, 14%);
$text: hsl(243, 33%, 14%);
$title-light: hsl(243, 66%, 90%);
$text-light: hsl(243, 33%, 95%);

$background-light: hsl(243, 33%, 95%);
$background-dark: hsl(243, 33%, 14%);

$font-family-title: 'Fredoka One', cursive;
$font-family-text: 'Raleway', -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;


/* html {
  background: $background-light;
  background-image: linear-gradient( to bottom right, $background-light, $secondary-light);
} */