@charset "utf-8";


// import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// Set your brand colors
$redish: rgb(234, 85, 104);
$sky-blue: #7BBAE8;
$blue-dark: #102260;
$blue-light: #888C9E;
$blue-lighter: #EAEBEF;

$redish-background: rgba(234, 85, 104, 0.1);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $blue-dark; // titles
$grey-light: $blue-light; // text
$primary: $redish;
$link: $sky-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $blue-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;





@import "../../node_modules/bulma/bulma.sass";

html {
  background: $blue-lighter;
  background-image: linear-gradient( to bottom right, $blue-lighter, $redish-background);
}

.title {
  color: $blue-dark;
}